.base {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background:	#fafafa;
	flex-wrap: wrap;
}

.calc {
	width: 260px;
	height: 360px;
	padding: 10px;
	border-radius: 15px;
	background:	#eceff1;
	line-height: 1em;
  box-shadow: 5px 5px #9e9e9e;
	user-select: none;
}

#display {
	float: left;
	width: calc(100% - 10px);
	margin: 15px 5px;
	padding: 15px 10px 0;
	font-size: 38px;
	line-height: 70px;
	text-align: right;
	border-radius: 5px 15px;
	background:	#23a1ff;
	color: #424242;
	font-family: "ZCOOL QingKe HuangYou", sans-serif;
	box-shadow: inset 2px 2px 5px #1e89d9,
	inset -2px -2px 5px #28b9ff;
	border: none;
}

.button-a,
.button-b,
.button-c,
.button-d,
.button-e {
	float: left;
	width: calc(20% - 4px);
	margin: 2px;
	line-height: 50px;
	font-size: 1em;
	text-align: center;
	color: #424242;
	font-size: 1.15em;
	border-radius: 5px 15px;
	box-shadow: 0 0 2px #ddd;
}

.new-row {
	clear: left;
}

.button-a {
	background:	linear-gradient(145deg, #fdffff, #d4d7d9);
}

.button-a:active {
	background:	linear-gradient(145deg, #d4d7d9, #fdffff);
	color: #666;
}

.button-b {
	background:	linear-gradient(145deg, #c8eeff, #a8c8e2);
}

.button-b:active {
	background:	linear-gradient(145deg, #a8c8e2, #c8eeff);
	color: #666;
}

.button-c {
	background:	linear-gradient(145deg, #6bc2ff, #5aa3dd);
}

.button-c:active {
	background:	linear-gradient(145deg, #5aa3dd, #6bc2ff);
	color: #666;
}

.button-d {
	font-size: 1em;
	background:	linear-gradient(145deg, #fff0be, #e6caa0);
}

.button-d:active {
	background:	linear-gradient(145deg, #e6caa0, #fff0be);
	color: #666;
}

.button-e {
	line-height: 104px;
	margin-bottom: -54px;
	background:	linear-gradient(145deg, #ffa300, #e68900);
}

.button-e:active {
	background:	linear-gradient(145deg, #e68900, #ffa300);
	color: #666;
}

#log {
	margin-left: 50px;
	resize: none;
}
