/* bagian umum di sini */

@keyframes shake {
 10% { transform: translate(-4px, -8px) rotate(-.5deg); }
 20% { transform: translate(7px, 2px) rotate(-2.5deg); }
 30% { transform: translate(-5px, -2px) rotate(2.5deg); }
 40% { transform: translate(-4px, -2px) rotate(.5deg); }
 50% { transform: translate(4px, -1px) rotate(-2.5deg); }
 60% { transform: translate(1px, -6px) rotate(3.5deg); }
 70% { transform: translate(-6px, 7px) rotate(.5deg); }
 80% { transform: translate(2px, 1px) rotate(1.5deg); }
 90% { transform: translate(7px, 6px) rotate(-2.5deg); }
 0%, 100% { transform: translate(0, 0) rotate(0deg); }
}

* {
 box-sizing: border-box;
 text-decoration: none;
 outline: none !important;
}

body {
 margin: 0;
 padding: 0;
 font-family: 'Lato', sans-serif;
 font-size: 16px;
 line-height: 1.618em;
 color: #424242;
}

.container {
 display: inline-block;
 margin: 0 auto;
}

.container h2 {
 margin: 0 auto;
 padding: 120px 0 50px;
 font-size: 36px;
}

a {
 transition: .25s;
}

/* bagian navigasi di sini */

.nav {
 position: fixed;
 top: 0;
 z-index: 100;
 padding-left: 30px;
 width: 100%;
 line-height: 70px;
 background-color: rgba(34, 49, 52, 0.9);
}

.nav h2 {
 margin: 0;
 padding: 0;
 color: #fff;
 font-size: 20px;
}

.header-left {
 float: left;
}

.header-right {
 float: right;
 background-color: rgba(255, 255, 255, 0.3);
}

.header-right:hover {
 background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
 display: block;
 padding: 0 25px;
 line-height: 70px;
 color: white;
}

/* bagian landing di sini */

.landing {

}

/* bagian lesson di sini */

.lesson {

}

/* bagian profil di sini */

.profile {
 padding-bottom: 50px;
 background-color: #f5f8fa;
 text-align: center;
}

.base {
 display: inline-block;
 padding: 15px;
}

.card {
 display: inline-block;
 padding: 30px;
 vertical-align: top;
 background-color: #fff;
 border-radius: 15px;
 box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .05);
}

.card img {
 width: 80%;
 max-width: 150px;
 border-radius: 50%;
 filter: grayscale(100%);
}

.card:hover img {
 filter: grayscale(0%);
 transition: .15s;
 animation: shake 5s infinite;
}

.card h3 {
 margin: 15px 0 5px;
 font-size: 1.2em;
}

.card .about {
 margin: 0;
 color: #888;
 line-height: 1em;
}

.card .testimonial {
 font-style: italic;
}

.card .button {
 display: inline-block;
 margin: 15px 0 15px;
 padding: 5px 15px;
 line-height: 35px;
 background-color: #222;
 color: #fff;
 border-radius: 5px;
 box-shadow: 0 5px #666;
 transition: .15s;
}

.card .button:hover {
 background-color: #444;
}

.card .button:active {
 margin: 20px 0 10px;
 box-shadow: none;
}

.card .medsos {
 display: inline-block;
 margin: 23px 0 0 15px;
 padding: 0 15px;
 text-align: right;
 vertical-align: top;
 font-size: 1.2em;
 line-height: 35px;
 border-left: solid 1px #ccc;
}

.card .medsos a {
 color: #444;
}

.card .medsos a:hover {
 color: #2196f3;
}

/* bagian portfolio di sini */

.portfolio {    
    height: 500px;
    width: 100%;
    background-color: #f5f8fa;
    text-align: center;
}
.portfolio h2 {
    padding: 50px 0;
    color: #424242;
}
.kotak{
    float: left;
    width: 100%;
}
.dalam {
    padding: 20px;
    width: 50%;
    float: left;
    text-align: center;
}
.dalam img{
    padding: 50px 20px;
}
.dalam p{
    text-align: left;
}
.tombol{
    text-align: left;
    padding-top: 20px;
}
.tombol p{
    text-align: center;
    padding-top: 5px; 
    padding-right: 170px;
}
.tombol a{
    float:left;
}
.tombol a{
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  padding: 15px 40px;
  background-color: #222;
  cursor: pointer;
  box-shadow: 0 7px#666;
  transition: .15s;
  line-height: 35px;
}

.tombol a:hover {
    background-color: #444;
}

.tombol a:active {
    margin: 20px 0 10px;
    box-shadow: none;
}
/* bagian call to action di sini */

.cta {

}

/* bagian organizer di sini */

.organizer {

}

/* bagian footer di sini */

.footer {

}
@media (max-width: 768px){
.container {
    width: 750px;
}
.base {
    width: 360px;
}
.dalam {
    padding: 20px;
    width: 100%;
    text-align: center;
}
.dalam p{
    text-align: center;
}
.tombol {
    text-align: center;
    padding:5px 150px;
}
.tombol p{
    text-align: center;
    padding-top: 5px; 
    padding-right: 70px;
} 
}
@media (min-width: 768px) {
 .container {
 width: 750px;
 }

 .base {
 width: 360px;
 }
 .dalam {
    padding: 20px;
    width: 100%;
    text-align: center;
}
.dalam p{
    text-align: center;
}
.tombol {
    text-align: center;
    padding:5px 150px;
}
.tombol p{
    text-align: center;
    padding-top: 5px; 
    padding-right: 70px;
}
}

@media (min-width: 992px) {
 .container {
 width: 970px;
 }

.dalam {
    padding: 20px;
    width: 50%;
    float:left;
    text-align: center;
}
.dalam p{
    text-align: left;
}
.tombol {
    text-align: center;
    padding:5px 40px 0 0;
}
.tombol p{
    text-align: center;
    padding-top: 5px; 
    padding-right: 70px;
}
}

@media (min-width: 1200px) {
 .container {
 width: 1170px;
 }

}

